.bgcol{
    background-color: #263b5e;
    }
.bgcol2{
    background-color: #FF1949;
}
.logo{
    width: 234px;
}
body{
    font-family: "Muli", sans-serif;
    color: #fff;
}

.banner{
    box-sizing: border-box;
    font-weight: 700px;
    display: block;
   
}
.banner p{
    opacity: 8;
    line-height: 38px ;
    font-weight: 400px;
    
}
.fontcolor{
    color: #d0d4dc;
}
.test{
    font-weight: 600px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: "Muli", sans-serif;
}
.subheading {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
}

h2{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 28px;
    display: block;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn-main {
    background: #FF1949;
    color: #fff;
    border-color: #FF1949;
}
.btn-main:hover {
    background: #263b5e;
    color: #fff;
    border-color: #263b5e;
}
.banner-left {
    position: relative;
    background: #263b5e;
    padding: 120px 0px;
}
.btn-blue{
    background-color: #111e35;
    color:#fff;
    border-radius: 30px;
}    
.btn-blue:hover{
        background-color: #FF1949;
        color:#263b5e;
        border-radius: 30px;
}
.second{
    position: relative;
    padding: 40px 30px;
    border-radius:   7px;
    align-items: center;
    margin-top: -120px;
    
    
}
.imglogo{
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.mainmenu{
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color:#263b5e ;
}
.head{
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);;
}
.fontexpert{
    color: #FF1949;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}
.fontexpert1{
    color: #07294D;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    
    
}
.banner2{
    position: relative;
    top:60px;
    text-align: center;
}
h2{
    font-size: 32px;
}
.course{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    display: flex;
    width: 100%;
    color: #07294D;
    box-sizing: border-box;

}
.courseimg{
    width: 80px;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}
.borcourse{
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(146 184 255 / 20%);
    border: none;
}
h4{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 18px;
    padding-top: 30px;
    
}
.card-group{
    width: 100%;
    align-items: center;
    
}
.fontcolor1{
    color: #07294D;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 36px;
}
.subheading2 {
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
}
.section_padding{
    top: 100px;
    position: relative;
}
p {
    color: #535967;
    font-family: "Muli", sans-serif;
    line-height: 28px;
    font-size: 16px;
}
.list-heading {
    font-size: 20px;
    font-weight: bold;
    color: #FF1949;
}
.btn {
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    padding: 16px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    border: 1px solid transparent;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}
.pt-6{
    padding-top: 90px;
    
}
.stock-h4 {
    font-size: 22px !important;
    color: #111e35;
}
.fg{
    color: #FF1949;
    
}
.card1{
    min-height: 300px;
}
.style-2{
    display: block;
    box-shadow: none;
    margin-bottom: 0px;
    background: #fff;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 4%);
    border-top: 0px;
}
.style-2:hover{
    display: block;
    box-shadow: none;
    margin-bottom: 0px;
    color: #fff;
    background-color: #FF1949;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 4%);
    border-top: 0px;
}